In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_categories = pd.read_csv("products_categories.csv", sep=",", encoding='latin-1')

In [3]:
df_categories.head(40)

,sku,cat1,cat2,cat3
0,00.01.10.014,Cosmética y Belleza,Corporal,Hidratación
1,00.071697.000.000,Infantil,Juguetes,Mordedores
2,000133,Infantil,Higiene infantil,Canastillas y kits bebé
3,000147,Higiene y cuidado personal,Facial,Desmaquillantes y limpiadores
4,000148,Cosmética y Belleza,Manos,Crema de Manos
5,000200,Higiene y cuidado personal,Facial,Mascarillas
6,000203,Cosmética y Belleza,Corporal,Hidratación
7,000206,Cosmética y Belleza,Corporal,Hidratación
8,000210,Cosmética y Belleza,Corporal,Hidratación
9,000211,Cosmética y Belleza,Corporal,Hidratación
10,000235,Infantil,Juguetes,Sonajeros
11,000300,Infantil,Higiene infantil,Canastillas y kits bebé
12,000313,Infantil,Lactancia,Accesorios de extracción
13,000471,Nutrición,Nutrición Deportiva,Proteínas
14,000543,Cosmética y Belleza,Facial,Ampollas
15,000556,Infantil,Higiene infantil,Canastillas y kits bebé
16,0005610,Infantil,Lactancia,Discos de Lactancia
17,00065357300200,Infantil,Accesorios de alimentación,Esterilización y limpieza
18,0007070,Salud,Aromaterapia,Aceites esenciales
19,000910.Ballena,Salud,Botiquín,Termómetros
20,000910.Caracol,Salud,Botiquín,Termómetros
21,000910.Pulpo,Salud,Botiquín,Termómetros
22,000945,Salud,Problemas cardiovasculares y circulación,Colesterol
23,001003,Salud,Vitaminas y Minerales,Suplementos
24,001261,Salud,Descanso y relajación,Nerviosismo y estrés
25,001262,Salud,Descanso y relajación,NaN
26,001263,Nutrición,Pérdida de peso,Drenajes
27,001264,Nutrición,Pérdida de peso,Drenajes
28,001265,Salud,Vitaminas y Minerales,Suplementos
29,001267,Salud,Trastornos digestivos,Flora intestinal y digestión
30,"001268,Salud,""Huesos, articulaciones y músculo...",NaN,NaN,NaN
31,001469,Veterinaria,NaN,NaN
32,001492,Salud,Óptica,Líquido lentillas
33,001602,Higiene y cuidado personal,Corporal,Geles
34,001657411,Higiene y cuidado personal,Pies,Limas y durezas
35,002150,Salud,Vitaminas y Minerales,Suplementos
36,002369,Salud,Belleza,Cabello | Uñas
37,002370,Salud,Descanso y relajación,NaN
38,002402,Salud,Salud Sexual,Falta de Deseo
39,002426c013650,Salud,Óptica,Líquido lentillas

In [4]:
#######################3

In [5]:
# df_categories[df_categories["cat1"].isna()]

In [6]:
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11159 entries, 0 to 11158
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     11159 non-null  object
 1   cat1    10741 non-null  object
 2   cat2    10721 non-null  object
 3   cat3    10441 non-null  object
dtypes: object(4)
memory usage: 348.8+ KB

In [7]:
categories_na = df_categories[df_categories["cat1"].isna()]

In [8]:
categories_na

                                                     sku cat1 cat2 cat3
30     001268,Salud,"Huesos, articulaciones y músculo...  NaN  NaN  NaN
44     002655,Salud,Botiquín,"Apósitos, tiritas y gasas"  NaN  NaN  NaN
49     002870,Salud,"Huesos, articulaciones y músculo...  NaN  NaN  NaN
50     002872,Salud,"Huesos, articulaciones y músculo...  NaN  NaN  NaN
51     002873,Salud,"Huesos, articulaciones y músculo...  NaN  NaN  NaN
...                                                  ...  ...  ...  ...
10895  WJW158100,Salud,"Huesos, articulaciones y músc...  NaN  NaN  NaN
10915  WJW201100,Salud,"Huesos, articulaciones y músc...  NaN  NaN  NaN
10922  WJW236101,Nutrición,Alimentos,"Cremas, salsas ...  NaN  NaN  NaN
10957  ZAM01-15664,Salud,"Huesos, articulaciones y mú...  NaN  NaN  NaN
11082  ZMCOLMAV,Salud,"Huesos, articulaciones y múscu...  NaN  NaN  NaN

[418 rows x 4 columns]

In [9]:
categories_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 30 to 11082
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     418 non-null    object
 1   cat1    0 non-null      object
 2   cat2    0 non-null      object
 3   cat3    0 non-null      object
dtypes: object(4)
memory usage: 16.3+ KB

In [10]:
categories_sep = categories_na["sku"].str.split(",", expand=True)

In [11]:
categories_sep = categories_sep.rename(columns={0: "sku", 1: "cat1"})

In [12]:
categories_sep["cat2,3"] = categories_sep[[2,3,4]].apply(", ".join, axis=1)

In [13]:
categories_sep = categories_sep.drop(labels=[2,3,4], axis=1)

In [14]:
categories_sep.head()

       sku   cat1                                          cat2,3
30  001268  Salud  "Huesos,  articulaciones y músculos", Colágeno
44  002655  Salud          Botiquín, "Apósitos,  tiritas y gasas"
49  002870  Salud  "Huesos,  articulaciones y músculos", Colágeno
50  002872  Salud  "Huesos,  articulaciones y músculos", Colágeno
51  002873  Salud  "Huesos,  articulaciones y músculos", Colágeno

In [15]:
categories_sep_2_3 = categories_sep["cat2,3"].str.split('"', expand=True)

In [16]:
categories_sep_2_3 = categories_sep_2_3.rename(columns={0: "cat2", 1: "cat3"})

In [17]:
categories_sep_2_3

,cat2,cat3,2
30,,"Huesos, articulaciones y músculos",", Colágeno"
44,"Botiquín,","Apósitos, tiritas y gasas",
49,,"Huesos, articulaciones y músculos",", Colágeno"
50,,"Huesos, articulaciones y músculos",", Colágeno"
51,,"Huesos, articulaciones y músculos",", Colágeno"
...,...,...,...
10895,,"Huesos, articulaciones y músculos",", Colágeno"
10915,,"Huesos, articulaciones y músculos",", Colágeno"
10922,"Alimentos,","Cremas, salsas y siropes",
10957,,"Huesos, articulaciones y músculos",", Recuperación muscular"
11082,,"Huesos, articulaciones y músculos",", Colágeno"

In [18]:
categories_sep_2_3

,cat2,cat3,2
30,,"Huesos, articulaciones y músculos",", Colágeno"
44,"Botiquín,","Apósitos, tiritas y gasas",
49,,"Huesos, articulaciones y músculos",", Colágeno"
50,,"Huesos, articulaciones y músculos",", Colágeno"
51,,"Huesos, articulaciones y músculos",", Colágeno"
...,...,...,...
10895,,"Huesos, articulaciones y músculos",", Colágeno"
10915,,"Huesos, articulaciones y músculos",", Colágeno"
10922,"Alimentos,","Cremas, salsas y siropes",
10957,,"Huesos, articulaciones y músculos",", Recuperación muscular"
11082,,"Huesos, articulaciones y músculos",", Colágeno"

In [19]:
for pos, na in enumerate(categories_sep_2_3["cat2"]):
    if na == "":
        categories_sep_2_3["cat2"].iloc[pos] = categories_sep_2_3["cat3"].iloc[pos]
        categories_sep_2_3["cat3"].iloc[pos] = categories_sep_2_3[2].iloc[pos]

categories_sep_2_3.drop(columns=[2], inplace=True)

In [20]:
categories_sep_2_3["cat3"]=categories_sep_2_3["cat3"].str.replace("^[,]\s", "", regex=True)
categories_sep_2_3["cat2"]=categories_sep_2_3["cat2"].str.replace("[,]\s$", "", regex=True)

In [21]:
categories_sep_2_3

                                     cat2                        cat3
30     Huesos,  articulaciones y músculos                    Colágeno
44                               Botiquín  Apósitos,  tiritas y gasas
49     Huesos,  articulaciones y músculos                    Colágeno
50     Huesos,  articulaciones y músculos                    Colágeno
51     Huesos,  articulaciones y músculos                    Colágeno
...                                   ...                         ...
10895  Huesos,  articulaciones y músculos                    Colágeno
10915  Huesos,  articulaciones y músculos                    Colágeno
10922                           Alimentos   Cremas,  salsas y siropes
10957  Huesos,  articulaciones y músculos       Recuperación muscular
11082  Huesos,  articulaciones y músculos                    Colágeno

[418 rows x 2 columns]

In [22]:
categories_sep_clean = pd.merge(categories_sep, categories_sep_2_3, left_index=True, right_index=True)
categories_sep_clean.drop(columns="cat2,3", inplace=True)

In [23]:
categories_sep_clean

,sku,cat1,cat2,cat3
30,001268,Salud,"Huesos, articulaciones y músculos",Colágeno
44,002655,Salud,Botiquín,"Apósitos, tiritas y gasas"
49,002870,Salud,"Huesos, articulaciones y músculos",Colágeno
50,002872,Salud,"Huesos, articulaciones y músculos",Colágeno
51,002873,Salud,"Huesos, articulaciones y músculos",Colágeno
...,...,...,...,...
10895,WJW158100,Salud,"Huesos, articulaciones y músculos",Colágeno
10915,WJW201100,Salud,"Huesos, articulaciones y músculos",Colágeno
10922,WJW236101,Nutrición,Alimentos,"Cremas, salsas y siropes"
10957,ZAM01-15664,Salud,"Huesos, articulaciones y músculos",Recuperación muscular
11082,ZMCOLMAV,Salud,"Huesos, articulaciones y músculos",Colágeno

In [41]:
df_categories.drop(df_categories[df_categories["cat1"].isna()].index, inplace=True)

In [43]:
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10741 entries, 0 to 11158
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     10741 non-null  object
 1   cat1    10741 non-null  object
 2   cat2    10721 non-null  object
 3   cat3    10441 non-null  object
dtypes: object(4)
memory usage: 419.6+ KB

In [34]:
# for i in df_categories["cat1"]:
#     if i is na:
#         df_categories["cat1"][i].drop(axis=0, inplace=True)

In [44]:
df_categories["cat1"].isna().sum()

0

In [45]:
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10741 entries, 0 to 11158
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     10741 non-null  object
 1   cat1    10741 non-null  object
 2   cat2    10721 non-null  object
 3   cat3    10441 non-null  object
dtypes: object(4)
memory usage: 419.6+ KB

In [46]:
df_categories_limpieza1 = pd.concat([df_categories, categories_sep_clean])

In [27]:
# df_categories_limpieza1 = df_categories.append(categories_sep_clean, ignore_index=True)

In [47]:
df_categories_limpieza1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11159 entries, 0 to 11082
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     11159 non-null  object
 1   cat1    11159 non-null  object
 2   cat2    11139 non-null  object
 3   cat3    10859 non-null  object
dtypes: object(4)
memory usage: 435.9+ KB

In [48]:
df_categories_limpieza1[df_categories_limpieza1["cat2"].isna()]

                sku         cat1 cat2 cat3
31           001469  Veterinaria  NaN  NaN
743   113159=575349  Veterinaria  NaN  NaN
8172         570052  Veterinaria  NaN  NaN
8173         570235  Veterinaria  NaN  NaN
8174         570237  Veterinaria  NaN  NaN
8180         571007  Veterinaria  NaN  NaN
8181         571008  Veterinaria  NaN  NaN
8182         571014  Veterinaria  NaN  NaN
8183         571017  Veterinaria  NaN  NaN
8184         571023  Veterinaria  NaN  NaN
8185         571024  Veterinaria  NaN  NaN
8186         578400  Veterinaria  NaN  NaN
8187         578401  Veterinaria  NaN  NaN
8188         578403  Veterinaria  NaN  NaN
8190         583685  Veterinaria  NaN  NaN
8191         583688  Veterinaria  NaN  NaN
8192         583689  Veterinaria  NaN  NaN
8193         583696  Veterinaria  NaN  NaN
8194         583700  Veterinaria  NaN  NaN
9835        MF10023  Veterinaria  NaN  NaN

In [ ]:
df_categories["cat1"] = df_categories["cat1"].str.lower()
df_categories["cat2"] = df_categories["cat2"].str.lower()
df_categories["cat3"] = df_categories["cat3"].str.lower()

In [49]:
df_categories_limpieza1.to_csv("categories_limpieza1.csv")

In [29]:
# categories_na.to_csv("categories_na.csv")

In [30]:
# categories_na_df = pd.read_csv("categories_na.csv", sep=',')

In [31]:
# categories_na_df