### Libraries import

In [4]:
import pandas as pd # Dataframes management
from zipfile import ZipFile  # Files compressed management
import os # Files management along OS

### CSV Import

In [21]:
prueba = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/categories.csv", sep = ",", encoding='utf-8')

In [7]:
products = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/products.csv")

In [10]:
# Specifying the name of the zip file
file = "Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years.zip"
  
# Open the zip file in read mode
with ZipFile(file, 'r') as zip: 
    # List all the contents of the zip file
    zip.printdir() 
  
    # Extract all files
    print('extraction...') 
    zip.extractall("Inputs/Modificados - Atmira_Pharma_Visualization") 
    print('Done!')

#Import CSV to pandas
itemsOrdered = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years.txt", sep="|")
print("CSV imported to Pandas successfully")

# Remove uncompressed CSV file
os.remove("Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years.txt")
print("Original CSV removed to preserve repo health")

File Name                                             Modified             Size
items_ordered_2years.txt                       2022-02-21 11:38:12    158607052
extraction...
Done!

ParserError: Error tokenizing data. C error: Expected 11 fields in line 230152, saw 31

### First look to data

**First Dataframe - productsCategories**

In [22]:
prueba.head(3)

,Unnamed: 0,sku,cat1,cat2,cat3
0,0,00.01.10.014,Cosmética y Belleza,Corporal,Hidratación
1,1,00.071697.000.000,Infantil,Juguetes,Mordedores
2,2,000133,Infantil,Higiene infantil,Canastillas y kits bebé

In [19]:
prueba.shape

(11159, 5)

In [7]:
productsCategories["cat1"].value_counts()

Salud                         10
Infantil                       8
Cosmética y Belleza            7
Nutrición                      3
Higiene y cuidado personal     2
Name: cat1, dtype: int64

In [8]:
productsCategories["cat2"].value_counts()

Corporal                                    5
Higiene infantil                            3
Facial                                      3
Botiquín                                    3
Juguetes                                    2
Lactancia                                   2
Vitaminas y Minerales                       2
Descanso y relajación                       2
Pérdida de peso                             2
Manos                                       1
Nutrición Deportiva                         1
Accesorios de alimentación                  1
Aromaterapia                                1
Problemas cardiovasculares y circulación    1
Trastornos digestivos                       1
Name: cat2, dtype: int64

In [9]:
productsCategories["cat3"].value_counts()

Hidratación                      5
Canastillas y kits bebé          3
Termómetros                      3
Drenajes                         2
Suplementos                      2
Discos de Lactancia              1
Nerviosismo y estrés             1
Colesterol                       1
Aceites esenciales               1
Esterilización y limpieza        1
Ampollas                         1
Mordedores                       1
Proteínas                        1
Accesorios de extracción         1
Sonajeros                        1
Mascarillas                      1
Crema de Manos                   1
Desmaquillantes y limpiadores    1
Flora intestinal y digestión     1
Name: cat3, dtype: int64

In [11]:
productsCategories.isna().any()

sku     False
cat1    False
cat2    False
cat3     True
dtype: bool

In [12]:
productsCategories['cat3'].isnull().sum()

1

In [13]:
productsCategories[productsCategories['cat3'].isna()]

       sku   cat1                   cat2 cat3
25  001262  Salud  Descanso y relajación  NaN

In [15]:
pCorr = productsCategories.corr()
pCorr

Empty DataFrame
Columns: []
Index: []

In [18]:
productsCategories[productsCategories["sku"]=="000133"]

      sku      cat1              cat2                     cat3
2  000133  Infantil  Higiene infantil  Canastillas y kits bebé

**Second Dataframe - Products**

In [49]:
products.head(3)

,product_id,sku,name,marca_value,short_description,analytic_category,picture
0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,Chelino,"<p>Los pañales <strong>Chelino</strong>, que p...",Infantil,https://www.mifarma.es/media/catalog/product/1...
1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,Chelino,<p>Los pañales Chelino que presentan un novedo...,Infantil,https://www.mifarma.es/media/catalog/product/1...
2,50282,230154,Pañales Pingo Maxi T4 40 uds,Pingo,<p>Pingo es el primer pañal ecológico con cuat...,Infantil,https://www.mifarma.es/media/catalog/product/2...

In [50]:
products.shape https://www.mifarma.es/media/catalog/product/2...

(27953, 7)

In [57]:
products["picture"][0]

'https://www.mifarma.es/media/catalog/product/1/6/165774_.jpg'

**Third Dataframe - itemsOrdered**

In [51]:
itemsOrdered.head(3)

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode
0,ce30c2f02458457e3c7b563a636ae2a1,0916c05c5c3f65f59d813a78ac35c8d2,2018-11-06 16:52:13,86434,1.0,9.3750,15.38,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
1,ce30c2f02458457e3c7b563a636ae2a1,ff323b39ae36843396d2e53ce549fb10,2018-11-06 16:52:13,87652,1.0,7.0000,15.41,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
2,ce30c2f02458457e3c7b563a636ae2a1,199916dffc95259f4d2daab6664ca9c0,2018-11-06 16:52:13,2785,1.0,9.1587,12.23,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100

In [52]:
itemsOrdered.shape

(930960, 11)

In [53]:
itemsOrdered.shape[0]*itemsOrdered.shape[1]

10240560

In [54]:
itemsOrdered["city"].value_counts()

Madrid                  69313
Barcelona               30278
MADRID                  21833
Valencia                13048
Sevilla                  9008
                        ...
Arada                       1
Fuentetoba                  1
Si                          1
Toralba de Calatrava        1
Teia                        1
Name: city, Length: 21012, dtype: int64

In [ ]:
013687