### Libraries import

In [43]:
import pandas as pd # Dataframes management
from zipfile import ZipFile  # Files compressed management
import os # Files management along OS

### CSV Import

In [44]:
productsCategories = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/new_products_categories.csv")

In [45]:
products = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/products.csv")

In [46]:
# Specifying the name of the zip file
file = "Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years.zip"
  
# Open the zip file in read mode
with ZipFile(file, 'r') as zip: 
    # List all the contents of the zip file
    zip.printdir() 
  
    # Extract all files
    print('extraction...') 
    zip.extractall("Inputs/Modificados - Atmira_Pharma_Visualization") 
    print('Done!')

#Import CSV to pandas
itemsOrdered = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years.csv")
print("CSV imported to Pandas successfully")

# Remove uncompressed CSV file
os.remove("Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years.csv")
print("Original CSV removed to preserve repo health")

File Name                                             Modified             Size
items_ordered_2years.csv                       2022-01-10 08:27:40    167020440
extraction...
Done!
CSV imported to Pandas successfully
Original CSV removed to preserve repo health

### First look to data

**First Dataframe - productsCategories**

In [47]:
productsCategories.head(3)

,sku,cat1,cat2,cat3
0,00.01.10.014,Cosmética y Belleza,Corporal,Hidratación
1,00.071697.000.000,Infantil,Juguetes,Mordedores
2,000133,Infantil,Higiene infantil,Canastillas y kits bebé

In [48]:
productsCategories.shape

(30, 4)

**Second Dataframe - Products**

In [49]:
products.head(3)

,product_id,sku,name,marca_value,short_description,analytic_category,picture
0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,Chelino,"<p>Los pañales <strong>Chelino</strong>, que p...",Infantil,https://www.mifarma.es/media/catalog/product/1...
1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,Chelino,<p>Los pañales Chelino que presentan un novedo...,Infantil,https://www.mifarma.es/media/catalog/product/1...
2,50282,230154,Pañales Pingo Maxi T4 40 uds,Pingo,<p>Pingo es el primer pañal ecológico con cuat...,Infantil,https://www.mifarma.es/media/catalog/product/2...

In [50]:
products.shape https://www.mifarma.es/media/catalog/product/2...

(27953, 7)

In [57]:
products["picture"][0]

'https://www.mifarma.es/media/catalog/product/1/6/165774_.jpg'

**Third Dataframe - itemsOrdered**

In [51]:
itemsOrdered.head(3)

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode
0,ce30c2f02458457e3c7b563a636ae2a1,0916c05c5c3f65f59d813a78ac35c8d2,2018-11-06 16:52:13,86434,1.0,9.3750,15.38,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
1,ce30c2f02458457e3c7b563a636ae2a1,ff323b39ae36843396d2e53ce549fb10,2018-11-06 16:52:13,87652,1.0,7.0000,15.41,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100
2,ce30c2f02458457e3c7b563a636ae2a1,199916dffc95259f4d2daab6664ca9c0,2018-11-06 16:52:13,2785,1.0,9.1587,12.23,8.0,eccbc87e4b5ce2fe28308fd9f2a7baf3,TARAZONA DE LA MANCHA,02100

In [52]:
itemsOrdered.shape

(930960, 11)

In [53]:
itemsOrdered.shape[0]*itemsOrdered.shape[1]

10240560

In [54]:
itemsOrdered["city"].value_counts()

Madrid                  69313
Barcelona               30278
MADRID                  21833
Valencia                13048
Sevilla                  9008
                        ...
Arada                       1
Fuentetoba                  1
Si                          1
Toralba de Calatrava        1
Teia                        1
Name: city, Length: 21012, dtype: int64