### Libraries import

In [1]:
import pandas as pd # Dataframes management
from zipfile import ZipFile  # Files compressed management
import os # Files management along OS

### CSV import

In [2]:
productsCategories = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/products_categories_V2.csv")

In [3]:
products = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/products.csv")

In [4]:
# Specifying the name of the zip file
file = "Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years_V2.zip"
  
# Open the zip file in read mode
with ZipFile(file, 'r') as zip: 
    # List all the contents of the zip file
    zip.printdir() 
  
    # Extract all files
    print('extraction...') 
    zip.extractall("Inputs/Modificados - Atmira_Pharma_Visualization") 
    print('Done!')

#Import CSV to pandas
itemsOrdered = pd.read_csv("Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years_V2.csv")
print("CSV imported to Pandas successfully")

# Remove uncompressed CSV file
os.remove("Inputs/Modificados - Atmira_Pharma_Visualization/items_ordered_2years_V2.csv")
print("Original CSV removed to preserve repo health")

File Name                                             Modified             Size
items_ordered_2years_V2.csv                    2022-02-23 01:28:04    150372498
extraction...
Done!
CSV imported to Pandas successfully
Original CSV removed to preserve repo health

### First Dataframe - ProductCategories

In [5]:
productsCategories.head(3)

,Unnamed: 0,sku,cat1,cat2,cat3
0,0,00.01.10.014,Cosmética y Belleza,Corporal,Hidratación
1,1,00.071697.000.000,Infantil,Juguetes,Mordedores
2,2,000133,Infantil,Higiene infantil,Canastillas y kits bebé

In [6]:
productsCategories.shape

(11159, 5)

In [7]:
productsCategories.drop(productsCategories.columns[0], axis=1, inplace=True)
productsCategories.head(2)

                 sku                 cat1      cat2         cat3
0       00.01.10.014  Cosmética y Belleza  Corporal  Hidratación
1  00.071697.000.000             Infantil  Juguetes   Mordedores

**Cleaning SKU**

Todas las SKU son únicas y coinciden con el número de filas del dataframe

In [8]:
productsCategories["sku"].value_counts().sum() - productsCategories.shape[0]

0

Hay un 89% de valores sin símbolos

In [9]:
round((productsCategories["sku"].apply(lambda x: x.isalnum()).sum()/productsCategories.shape[0]),2)

0.89

Los 1257 sku con símbolos quedan almacenados en una variable

In [10]:
pCategoriesWithSymbols = productsCategories["sku"].apply(lambda x: x if x.isalnum()==False else None).dropna()

In [11]:
len(pCategoriesWithSymbols)

1257

In [12]:
pCategoriesWithSymbols

0             00.01.10.014
1        00.071697.000.000
19          000910.Ballena
20          000910.Caracol
21            000910.Pulpo
               ...
11144          ZSE02-15462
11145          ZSE04-15466
11146          ZSE05-15467
11149          ZSU04-15442
11158          ZVA01-15417
Name: sku, Length: 1257, dtype: object

Coleccionemos los símbolos encontrados

In [13]:
skuSymbols = []

pCategoriesWithSymbols

0             00.01.10.014
1        00.071697.000.000
19          000910.Ballena
20          000910.Caracol
21            000910.Pulpo
               ...
11144          ZSE02-15462
11145          ZSE04-15466
11146          ZSE05-15467
11149          ZSU04-15442
11158          ZVA01-15417
Name: sku, Length: 1257, dtype: object

### Second Dataframe - Products

In [14]:
products.head(3)

,product_id,sku,name,marca_value,short_description,analytic_category,picture
0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,Chelino,"<p>Los pañales <strong>Chelino</strong>, que p...",Infantil,https://www.mifarma.es/media/catalog/product/1...
1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,Chelino,<p>Los pañales Chelino que presentan un novedo...,Infantil,https://www.mifarma.es/media/catalog/product/1...
2,50282,230154,Pañales Pingo Maxi T4 40 uds,Pingo,<p>Pingo es el primer pañal ecológico con cuat...,Infantil,https://www.mifarma.es/media/catalog/product/2...

In [15]:
products.shape

(27953, 7)

**Third Dataframe - itemsOrdered**

In [16]:
itemsOrdered.head(3)

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode
0,562ba4ba9aaf2a1e926842deca19271d,2bca87c2ab10b07feef290a9be47f316,2017-01-01 00:20:33,6409.0,1.0,13.4204,17.17,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019
1,562ba4ba9aaf2a1e926842deca19271d,53e12ac4b579f0c4b1c4f77d50bf8792,2017-01-01 00:20:33,5133.0,1.0,18.5351,22.68,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019
2,562ba4ba9aaf2a1e926842deca19271d,d19d6df5cd6a1e741408b70aa2767bf4,2017-01-01 00:20:33,5125.0,1.0,18.5260,22.68,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019

In [17]:
itemsOrdered.shape

(321671, 11)

In [18]:
itemsOrdered.isna().sum()

num_order              0
item_id                0
created_at             0
product_id             1
qty_ordered            1
base_cost           1959
price                  1
discount_percent       1
customer_id            1
city                1207
zipcode             1198
dtype: int64

In [1]:

zip([1,2],[4,5])