In [1]:
import pandas as pd
import numpy as np

In [2]:
df_ventas = pd.read_csv("ventas_limpieza1.csv")

In [3]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316095 entries, 0 to 316094
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        316095 non-null  int64
 1   num_order         316095 non-null  object
 2   item_id           316095 non-null  object
 3   created_at        316095 non-null  object
 4   product_id        316094 non-null  float64
 5   qty_ordered       316094 non-null  float64
 6   base_cost         314168 non-null  float64
 7   price             316094 non-null  float64
 8   discount_percent  316094 non-null  float64
 9   customer_id       316094 non-null  object
 10  city              314888 non-null  object
 11  zipcode           314897 non-null  object
 12  longitud_zip      314897 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 31.4+ MB

In [4]:
df_ventas.shape

(316095, 13)

In [5]:
df_zipcodes = pd.read_csv("src/DataScrapped.csv")

In [6]:
df_zipcodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321671 entries, 0 to 321670
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  321671 non-null  int64
 1   Country     321671 non-null  object
 2   Region      321671 non-null  object
 3   City        321671 non-null  object
 4   Zipcode     320473 non-null  object
dtypes: int64(1), object(4)
memory usage: 12.3+ MB

In [7]:
df_zipcodes.shape

(321671, 5)

In [9]:
#No tienen el mismo n. de filas, por lo que cargo el original

In [8]:
df_ventas = pd.read_csv("items_ordered_2years_V2.csv", sep=",")

In [10]:
df_ventas.shape

(321671, 11)

In [15]:
df_ventas_full = pd.merge(df_ventas,df_zipcodes, left_index=True, right_index=True)

In [16]:
df_ventas_full

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode,Unnamed: 0,Country,Region,City,Zipcode
0,562ba4ba9aaf2a1e926842deca19271d,2bca87c2ab10b07feef290a9be47f316,2017-01-01 00:20:33,6409.0,1.0,13.4204,17.17,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019,0,Spain,Comunidad Valenciana,Valencia,46019
1,562ba4ba9aaf2a1e926842deca19271d,53e12ac4b579f0c4b1c4f77d50bf8792,2017-01-01 00:20:33,5133.0,1.0,18.5351,22.68,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019,1,Spain,Comunidad Valenciana,Valencia,46019
2,562ba4ba9aaf2a1e926842deca19271d,d19d6df5cd6a1e741408b70aa2767bf4,2017-01-01 00:20:33,5125.0,1.0,18.5260,22.68,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019,2,Spain,Comunidad Valenciana,Valencia,46019
3,8ebeb895d692d538b14dbcd6e91cbb96,a960b68b6ba45056840bc17ab5719d57,2017-01-01 01:01:26,51380.0,1.0,9.0800,9.83,8.0,4262aed63db19ac1068c442d65a02c26,Almeria,04009,3,Spain,Andalucia,Almeria,04009
4,8ebeb895d692d538b14dbcd6e91cbb96,408f9e8e14e10a17e9b30c3e1feaa865,2017-01-01 01:01:26,7695.0,1.0,5.6440,9.05,8.0,4262aed63db19ac1068c442d65a02c26,Almeria,04009,4,Spain,Andalucia,Almeria,04009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321666,47354301ee34d415c360d2bf5d4f2e82,3f9aef7cab96e706431c222b8465d36a,2018-12-30 23:56:22,91881.0,1.0,11.3100,13.71,10.0,430936fb72fe24a59e767164848fab03,Bilbao,48007,321666,Spain,Pais Vasco,Bilbao,48007
321667,47354301ee34d415c360d2bf5d4f2e82,f1de0e68b4c8f9a42927230309b6a2e4,2018-12-30 23:56:22,1755.0,1.0,1.9800,2.47,10.0,430936fb72fe24a59e767164848fab03,Bilbao,48007,321667,Spain,Pais Vasco,Bilbao,48007
321668,bf923aa16e0608a5ed95347a9f411dce,8d8600ea4e451330f8614ba08ad4f047,2018-12-30 23:57:37,92793.0,1.0,33.7360,32.93,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500,321668,Spain,Cataluna,Vic,08500
321669,bf923aa16e0608a5ed95347a9f411dce,b74b2e1a096c656a247142e24eefb738,2018-12-30 23:57:37,93036.0,1.0,0.0000,16.32,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500,321669,Spain,Cataluna,Vic,08500
321670,bf923aa16e0608a5ed95347a9f411dce,fd0c1bb9a90dce3f3b2099990f019262,2018-12-30 23:57:37,11850.0,1.0,10.4414,12.53,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500,321670,Spain,Cataluna,Vic,08500

In [19]:
df_ventas_full.drop(columns="Unnamed: 0",inplace=True)

In [20]:
df_ventas_full

,num_order,item_id,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,city,zipcode,Country,Region,City,Zipcode
0,562ba4ba9aaf2a1e926842deca19271d,2bca87c2ab10b07feef290a9be47f316,2017-01-01 00:20:33,6409.0,1.0,13.4204,17.17,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019,Spain,Comunidad Valenciana,Valencia,46019
1,562ba4ba9aaf2a1e926842deca19271d,53e12ac4b579f0c4b1c4f77d50bf8792,2017-01-01 00:20:33,5133.0,1.0,18.5351,22.68,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019,Spain,Comunidad Valenciana,Valencia,46019
2,562ba4ba9aaf2a1e926842deca19271d,d19d6df5cd6a1e741408b70aa2767bf4,2017-01-01 00:20:33,5125.0,1.0,18.5260,22.68,8.0,50d7f99947b472cc889d58845b9d23e2,Valencia,46019,Spain,Comunidad Valenciana,Valencia,46019
3,8ebeb895d692d538b14dbcd6e91cbb96,a960b68b6ba45056840bc17ab5719d57,2017-01-01 01:01:26,51380.0,1.0,9.0800,9.83,8.0,4262aed63db19ac1068c442d65a02c26,Almeria,04009,Spain,Andalucia,Almeria,04009
4,8ebeb895d692d538b14dbcd6e91cbb96,408f9e8e14e10a17e9b30c3e1feaa865,2017-01-01 01:01:26,7695.0,1.0,5.6440,9.05,8.0,4262aed63db19ac1068c442d65a02c26,Almeria,04009,Spain,Andalucia,Almeria,04009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321666,47354301ee34d415c360d2bf5d4f2e82,3f9aef7cab96e706431c222b8465d36a,2018-12-30 23:56:22,91881.0,1.0,11.3100,13.71,10.0,430936fb72fe24a59e767164848fab03,Bilbao,48007,Spain,Pais Vasco,Bilbao,48007
321667,47354301ee34d415c360d2bf5d4f2e82,f1de0e68b4c8f9a42927230309b6a2e4,2018-12-30 23:56:22,1755.0,1.0,1.9800,2.47,10.0,430936fb72fe24a59e767164848fab03,Bilbao,48007,Spain,Pais Vasco,Bilbao,48007
321668,bf923aa16e0608a5ed95347a9f411dce,8d8600ea4e451330f8614ba08ad4f047,2018-12-30 23:57:37,92793.0,1.0,33.7360,32.93,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500,Spain,Cataluna,Vic,08500
321669,bf923aa16e0608a5ed95347a9f411dce,b74b2e1a096c656a247142e24eefb738,2018-12-30 23:57:37,93036.0,1.0,0.0000,16.32,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500,Spain,Cataluna,Vic,08500
321670,bf923aa16e0608a5ed95347a9f411dce,fd0c1bb9a90dce3f3b2099990f019262,2018-12-30 23:57:37,11850.0,1.0,10.4414,12.53,10.0,d73f27d3ab96df71f0fdc47511f326bc,Vic,08500,Spain,Cataluna,Vic,08500

In [31]:
df_ventas_full["product_id"] = df_ventas_full["product_id"].astype("str", errors="ignore")

In [32]:
df_ventas_full["product_id"]

0          6409.0
1          5133.0
2          5125.0
3         51380.0
4          7695.0
           ...
321666    91881.0
321667     1755.0
321668    92793.0
321669    93036.0
321670    11850.0
Name: product_id, Length: 321671, dtype: object