In [2]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("../docs/Envío Final/Datasets tratados/General/dfVentasDefinitivo.csv")
df.drop(columns=df.columns[0], axis=1, inplace=True)

# margin total, price total que se vea en float en dataframe ventas
# Añadir name regex columna en dataframe de products full

# traducir paises y días de la semana

In [3]:
df.head(2)

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,Zipcode,...,hour,week,day,margin_total,price_total,name,marca_value,analytic_category,nombre_corto,num_compras
0,000010d95384a6ba3d57dd870e7b337c,65717498f0771a49497d80f11160093c,2017-09-22 15:46:37,5645,1,7.4441,10.38,7.0,da5b59745c6a4699dee7684eba901bba,28028,...,15,38,Friday,2.9359,10.38,Weleda Hombre Crema Hidratante 30 ml,weleda,cosmética y belleza,Weleda Hombre Crema Hidratante 30,1
1,00001a8fb0bd42b1e16ba731e30cc490,09b538e85ce396ecbb70695f91007830,2018-09-12 21:27:08,28743,2,35.3166,43.08,7.0,531a918355010bacbe506243a5f05c30,12194,...,21,89,Wednesday,15.5268,86.16,Gynea Gestagyn Men 60 Capsulas,gynea,vida íntima,Gynea Gestagyn Men 60 Capsulas,1

In [4]:
df.dtypes

item_id               object
num_order             object
created_at            object
product_id             int64
qty_ordered            int64
base_cost            float64
price                float64
discount_percent     float64
customer_id           object
Zipcode               object
longitud_zip           int64
Country               object
Region                object
City                  object
date                  object
year                   int64
hour                   int64
week                   int64
day                   object
margin_total         float64
price_total          float64
name                  object
marca_value           object
analytic_category     object
nombre_corto          object
num_compras            int64
dtype: object

In [5]:
df["nombre_corto"] = df["name"].apply(lambda x: re.sub("\d+\s*\S*\w+\s*\S*\w", "", x))

In [6]:
df.head(2)

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,Zipcode,...,hour,week,day,margin_total,price_total,name,marca_value,analytic_category,nombre_corto,num_compras
0,000010d95384a6ba3d57dd870e7b337c,65717498f0771a49497d80f11160093c,2017-09-22 15:46:37,5645,1,7.4441,10.38,7.0,da5b59745c6a4699dee7684eba901bba,28028,...,15,38,Friday,2.9359,10.38,Weleda Hombre Crema Hidratante 30 ml,weleda,cosmética y belleza,Weleda Hombre Crema Hidratante,1
1,00001a8fb0bd42b1e16ba731e30cc490,09b538e85ce396ecbb70695f91007830,2018-09-12 21:27:08,28743,2,35.3166,43.08,7.0,531a918355010bacbe506243a5f05c30,12194,...,21,89,Wednesday,15.5268,86.16,Gynea Gestagyn Men 60 Capsulas,gynea,vida íntima,Gynea Gestagyn Men,1

In [7]:
daysTranslator = {"Monday":"Lunes", "Tuesday":"Martes", "Wednesday":"Miércoles", "Thursday":"Jueves", "Friday":"Viernes", "Saturday":"Sábado", "Sunday":"Domingo"}


df["day"] = df["day"].apply(lambda x: x.replace(x, daysTranslator[x]))

In [8]:
df["day"].unique()

array(['Viernes', 'Miércoles', 'Sábado', 'Domingo', 'Jueves', 'Martes',
       'Lunes'], dtype=object)

In [9]:
df["Country"].unique()

array(['Spain', 'ERROR', 'Portugal', 'France', 'United Kingdom', 'Mexico',
       'Russian Federation', 'Peru', 'Italy', 'United States', 'Belgium',
       'Colombia', 'Germany', 'Czech Republic', 'Denmark', 'Thailand',
       'Poland', 'Austria', 'Argentina', 'Puerto Rico', 'Canada', 'India',
       'Switzerland', 'Croatia', 'China'], dtype=object)

In [10]:
countryTranslator ={'Spain':"España", 'ERROR':"ERROR", 'Portugal':"Portugal", 'France':"Francia", 'United Kingdom':"Reino Unido", 'Mexico':"México",'Russian Federation':"Rusia", 'Peru':"Perú", 'Italy':"Italia", 'United States':"Estados Unidos", 'Belgium':"Bélgica",'Colombia':"Colombia", 'Germany':"Alemania", 'Czech Republic':"República Checa", 'Denmark':"Dinamarca", 'Thailand':"Tailandia",'Poland':"Polonia", 'Austria':"Austria", 'Argentina':"Argentina", 'Puerto Rico':"Puerto Rico", 'Canada':"Canadá", 'India':"India", 'Switzerland':"Suiza", 'Croatia':"Croacia", 'China':"China"}

In [11]:
df["Country"] = df["Country"].apply(lambda x: x.replace(x, countryTranslator[x]))

In [12]:
df["Country"].unique()

array(['España', 'ERROR', 'Portugal', 'Francia', 'Reino Unido', 'México',
       'Rusia', 'Perú', 'Italia', 'Estados Unidos', 'Bélgica', 'Colombia',
       'Alemania', 'República Checa', 'Dinamarca', 'Tailandia', 'Polonia',
       'Austria', 'Argentina', 'Puerto Rico', 'Canadá', 'India', 'Suiza',
       'Croacia', 'China'], dtype=object)

In [13]:
df.head()

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,Zipcode,...,hour,week,day,margin_total,price_total,name,marca_value,analytic_category,nombre_corto,num_compras
0,000010d95384a6ba3d57dd870e7b337c,65717498f0771a49497d80f11160093c,2017-09-22 15:46:37,5645,1,7.4441,10.38,7.0,da5b59745c6a4699dee7684eba901bba,28028,...,15,38,Viernes,2.9359,10.38,Weleda Hombre Crema Hidratante 30 ml,weleda,cosmética y belleza,Weleda Hombre Crema Hidratante,1
1,00001a8fb0bd42b1e16ba731e30cc490,09b538e85ce396ecbb70695f91007830,2018-09-12 21:27:08,28743,2,35.3166,43.08,7.0,531a918355010bacbe506243a5f05c30,12194,...,21,89,Miércoles,15.5268,86.16,Gynea Gestagyn Men 60 Capsulas,gynea,vida íntima,Gynea Gestagyn Men,1
2,000039147df4aacf0aa8b3a552e8ecdb,434cf1eaf255b367ce2d3343bb96b1fe,2017-09-06 12:08:44,68986,1,27.3680,33.88,5.0,14e6f6400d1c114d509844be3687cb19,48901,...,12,36,Miércoles,6.5120,33.88,Endocare Tensage Ampollas 20uds x 2ml,endocare,cosmética y belleza,Endocare Tensage Ampollas,1
3,000091029a220c2fdf12700f07f70b1d,f268c24275ad1d887925fca2909e2c2d,2018-09-29 09:45:14,9692,1,3.1200,3.81,5.0,872bd419dfb24caf4f996a2cd2b8a9b4,28008,...,9,91,Sábado,0.6900,3.81,Lacer Colutorio Fluor+Xilitol Sabor Fresa 500ml,lacer,higiene,Lacer Colutorio Fluor+Xilitol Sabor Fresa,1
4,00009bfda77b2719d4ace04e419f275e,aabc0c490a4cb4d22651522f7149fdcf,2018-08-08 18:43:20,81921,1,19.0500,21.91,5.0,8a1b78fb0503a964a7fb19135d429b78,46002,...,18,84,Miércoles,2.8600,21.91,Age Protect Sérum Intensivo Multiacción Uriage...,uriage,cosmética y belleza,Age Protect Sérum Intensivo Multiacción Uriage,1

In [14]:
df.columns

Index(['item_id', 'num_order', 'created_at', 'product_id', 'qty_ordered',
       'base_cost', 'price', 'discount_percent', 'customer_id', 'Zipcode',
       'longitud_zip', 'Country', 'Region', 'City', 'date', 'year', 'hour',
       'week', 'day', 'margin_total', 'price_total', 'name', 'marca_value',
       'analytic_category', 'nombre_corto', 'num_compras'],
      dtype='object')

In [15]:
# df.to_csv("dfVentasDef_V3.csv", index=False)
df.to_excel("dfVentasDef_V5.xlsx")

In [12]:
df2 = pd.read_csv("../Inputs/Creados - Proyecto/products_full.csv")
# df2.drop(columns=df2.columns[[0,1]], axis=1, inplace=True)

In [13]:
df2.head()

,Unnamed: 0,Unnamed: 0_x,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto,Unnamed: 0_y,cat1,cat2,cat3
0,0,0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla3 4-10,2491.0,infantil,cambio de pañal,pañales
1,1,1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,chelino,Los pañales Chelino que presentan un novedoso ...,infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla5 13-18,2493.0,infantil,cambio de pañal,pañales
2,2,2,50282,230154,Pañales Pingo Maxi T4 40 uds,pingo,Pingo es el primer pañal ecológico con cuatro ...,infantil,https://www.mifarma.es/media/catalog/product/2...,Pañales Pingo Maxi T4 40,6201.0,infantil,cambio de pañal,pañales
3,3,3,7348,165775,Pañales CHELINO LOVE Talla4 9-15 KG 34unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla4 9-15,2492.0,infantil,cambio de pañal,pañales
4,4,4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T4 9-15Kg 30Unds,NaN,NaN,NaN,NaN

In [14]:
df2["nombre_corto"] = df2["name"].apply(lambda x: re.sub("\d+\s*\S*\w+\s*\S*\w", "", x))

In [15]:
df2.head()

,Unnamed: 0,Unnamed: 0_x,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto,Unnamed: 0_y,cat1,cat2,cat3
0,0,0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales CHELINO LOVE Talla,2491.0,infantil,cambio de pañal,pañales
1,1,1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,chelino,Los pañales Chelino que presentan un novedoso ...,infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales CHELINO LOVE Talla,2493.0,infantil,cambio de pañal,pañales
2,2,2,50282,230154,Pañales Pingo Maxi T4 40 uds,pingo,Pingo es el primer pañal ecológico con cuatro ...,infantil,https://www.mifarma.es/media/catalog/product/2...,Pañales Pingo Maxi T,6201.0,infantil,cambio de pañal,pañales
3,3,3,7348,165775,Pañales CHELINO LOVE Talla4 9-15 KG 34unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales CHELINO LOVE Talla,2492.0,infantil,cambio de pañal,pañales
4,4,4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T,NaN,NaN,NaN,NaN

In [17]:
df2.to_excel("productsFull_V7.xlsx")

In [10]:
df3 = pd.read_csv("productsFull_V6.csv")

In [11]:
df3.head()

,Unnamed: 0,Unnamed: 0_x,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto,Unnamed: 0_y,cat1,cat2,cat3
0,0,0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales CHELINO LOVE Talla,2491.0,infantil,cambio de pañal,pañales
1,1,1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,chelino,Los pañales Chelino que presentan un novedoso ...,infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales CHELINO LOVE Talla,2493.0,infantil,cambio de pañal,pañales
2,2,2,50282,230154,Pañales Pingo Maxi T4 40 uds,pingo,Pingo es el primer pañal ecológico con cuatro ...,infantil,https://www.mifarma.es/media/catalog/product/2...,Pañales Pingo Maxi T,6201.0,infantil,cambio de pañal,pañales
3,3,3,7348,165775,Pañales CHELINO LOVE Talla4 9-15 KG 34unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales CHELINO LOVE Talla,2492.0,infantil,cambio de pañal,pañales
4,4,4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T,NaN,NaN,NaN,NaN