In [3]:
import pandas as pd
import numpy as np
import datetime as dt
from pmdarima.arima import auto_arima
from pmdarima.arima import ADFTest
import matplotlib as plt
from sklearn.metrics import r2_score

In [4]:
df_ventas = pd.read_csv("C:/Users/Daniel/Documents/GitHub/DatathonProject/df_ventas.csv", sep=",")

df_ventas["num_compras"] = 1

In [5]:
#Añadir columnas a la lista que se quiera hacer dummies

columns_to_encoding = []

for column in columns_to_encoding:
    dummies = pd.get_dummies(df_ventas[column])
    for dummy in dummies.columns:
        df_ventas[dummy] = dummies[dummy]
    df_ventas.drop(column, axis = 1, inplace=True)
df_ventas.columns

Index(['Unnamed: 0', 'num_order', 'item_id', 'created_at', 'product_id',
       'qty_ordered', 'base_cost', 'price', 'discount_percent', 'customer_id',
       'city', 'zipcode', 'date', 'year', 'hour', 'week', 'day',
       'margin_total', 'price_total', 'num_compras'],
      dtype='object')

In [6]:
dic_agg = {
    "price_total" : "sum",
    "qty_ordered": "sum",
    "discount_percent": "mean",
    "customer_id": pd.Series.mode,
    "city": pd.Series.mode,
    "zipcode":pd.Series.mode,
    "num_compras":pd.Series.mode,
    }
dic_agg_2 = {
    "price_total" : "mean",
    "qty_ordered": "mean",
    "discount_percent": "mean",
    "num_order": "count",
    "city": "first",
    "zipcode": "first",
    "num_compras": "mean",
    }

In [7]:
df_pedidos = df_ventas.groupby("num_order").agg(dic_agg)

In [ ]:
df_pedidos

,price_total,qty_ordered,discount_percent,customer_id,city,zipcode,num_compras
num_order,,,,,,,
00004a8fec0f91bd30b05ac25b26eedf,53.58,3.0,5.0,f5034cb703422c91ee0d2f09e2c4cc86,VALDEMORO,28342,1
00008a61e6f9738862d1a3f5a8a65d4a,25.55,3.0,5.0,7101ee3d4643a7fcbe49944b3b3cd38f,Puente Genil,14500,1
0000b29933f4ce50bfa71e598ab8bc30,10.60,2.0,7.5,7ea438c36905486d3ed1ce913677f6f8,Barbate,11160,1
0000cbe8738ce05f40cabe7572e284b6,29.34,4.0,6.0,b1f1a4e22ea8b0447e11127695325c07,Alcaudete,23660,1
0000d85af8545ad0f6760a67be1bb3e2,82.10,3.0,20.0,f635ac393a993c52a75fd30ef1d4f0d9,sant cugat del valles,08172,1
...,...,...,...,...,...,...,...
fffea72918f5c4fc22e92d607a554b65,34.85,2.0,12.5,ba5877fd367eee80ace3e9258cf92748,RUBÍ,08191,1
fffef2d520552b7424e98e744551771e,68.85,13.0,10.0,16fc4d2803f803158fe750e466d0a9f4,Madrid,28017,1
ffff09febb0de221586292e724340492,28.54,3.0,20.0,7a03eeee8b887ee9751ebcca2a116603,Carbonero el mayor,40270,1
ffff93a736771dadfa31c2cfe4dca8e2,61.76,8.0,5.0,5090f3fa04f6fcc205b7688b33d429fc,"El Burgo, Culleredo",15670,1
fffffcd73a1ce483a8a1de42d5639458,55.99,6.0,5.0,5bdfc8950800e8a6df47cf78a8413d9c,Guissona,25210,1

In [ ]:
df_clientes = df_pedidos.groupby("customer_id").agg(dic_agg)

NameError: name 'df_pedidos' is not defined

In [ ]:
df_clientes

,price_total,qty_ordered,discount_percent,customer_id,city,zipcode,num_compras
num_order,,,,,,,
00004a8fec0f91bd30b05ac25b26eedf,53.58,3.0,5.0,f5034cb703422c91ee0d2f09e2c4cc86,VALDEMORO,28342,1
00008a61e6f9738862d1a3f5a8a65d4a,25.55,3.0,5.0,7101ee3d4643a7fcbe49944b3b3cd38f,Puente Genil,14500,1
0000b29933f4ce50bfa71e598ab8bc30,10.60,2.0,7.5,7ea438c36905486d3ed1ce913677f6f8,Barbate,11160,1
0000cbe8738ce05f40cabe7572e284b6,29.34,4.0,6.0,b1f1a4e22ea8b0447e11127695325c07,Alcaudete,23660,1
0000d85af8545ad0f6760a67be1bb3e2,82.10,3.0,20.0,f635ac393a993c52a75fd30ef1d4f0d9,sant cugat del valles,08172,1
...,...,...,...,...,...,...,...
fffea72918f5c4fc22e92d607a554b65,34.85,2.0,12.5,ba5877fd367eee80ace3e9258cf92748,RUBÍ,08191,1
fffef2d520552b7424e98e744551771e,68.85,13.0,10.0,16fc4d2803f803158fe750e466d0a9f4,Madrid,28017,1
ffff09febb0de221586292e724340492,28.54,3.0,20.0,7a03eeee8b887ee9751ebcca2a116603,Carbonero el mayor,40270,1
ffff93a736771dadfa31c2cfe4dca8e2,61.76,8.0,5.0,5090f3fa04f6fcc205b7688b33d429fc,"El Burgo, Culleredo",15670,1
fffffcd73a1ce483a8a1de42d5639458,55.99,6.0,5.0,5bdfc8950800e8a6df47cf78a8413d9c,Guissona,25210,1