### Importación de librerías

In [1]:
import pandas as pd
import numpy as np
import re

### Inicio de la depuración

In [3]:
products = pd.read_csv("products_limpieza1.csv")
df_categories = pd.read_csv("categories_limpieza1.csv")

In [4]:
products.head()

,Unnamed: 0,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto
0,0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",Infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla3 4-10
1,1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,chelino,Los pañales Chelino que presentan un novedoso ...,Infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla5 13-18
2,2,50282,230154,Pañales Pingo Maxi T4 40 uds,pingo,Pingo es el primer pañal ecológico con cuatro ...,Infantil,https://www.mifarma.es/media/catalog/product/2...,Pañales Pingo Maxi T4 40
3,3,7348,165775,Pañales CHELINO LOVE Talla4 9-15 KG 34unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",Infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla4 9-15
4,4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T4 9-15Kg 30Unds

In [5]:
df_categories.head(6)

,Unnamed: 0,sku,cat1,cat2,cat3
0,0,00.01.10.014,Cosmética y Belleza,Corporal,Hidratación
1,1,00.071697.000.000,Infantil,Juguetes,Mordedores
2,2,000133,Infantil,Higiene infantil,Canastillas y kits bebé
3,3,000147,Higiene y cuidado personal,Facial,Desmaquillantes y limpiadores
4,4,000148,Cosmética y Belleza,Manos,Crema de Manos
5,5,000200,Higiene y cuidado personal,Facial,Mascarillas

**Fusión de dataframes**

In [6]:
products_full = pd.merge(products, df_categories, on='sku', how='left')

In [8]:
products_full.head(6)

,Unnamed: 0_x,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto,Unnamed: 0_y,cat1,cat2,cat3
0,0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",Infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla3 4-10,2491.0,Infantil,Cambio de pañal,Pañales
1,1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,chelino,Los pañales Chelino que presentan un novedoso ...,Infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla5 13-18,2493.0,Infantil,Cambio de pañal,Pañales
2,2,50282,230154,Pañales Pingo Maxi T4 40 uds,pingo,Pingo es el primer pañal ecológico con cuatro ...,Infantil,https://www.mifarma.es/media/catalog/product/2...,Pañales Pingo Maxi T4 40,6201.0,Infantil,Cambio de pañal,Pañales
3,3,7348,165775,Pañales CHELINO LOVE Talla4 9-15 KG 34unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",Infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla4 9-15,2492.0,Infantil,Cambio de pañal,Pañales
4,4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T4 9-15Kg 30Unds,NaN,NaN,NaN,NaN
5,5,11938,011896,Dodot Activity T3 De 4 A 10 Kg 56 Unidades,dodot,Pañales que mantienen la piel del culito seca ...,NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Activity T3 De 4,199.0,Infantil,Cambio de pañal,Pañales

In [9]:
products_full["cat1"].value_counts()

Cosmética y Belleza           3352
Higiene y cuidado personal    2987
Salud                         2842
Infantil                      1298
Nutrición                      615
Veterinaria                     20
salud                            3
nutrición                        1
Name: cat1, dtype: int64

In [10]:
products_full["analytic_category"].value_counts()

Cosmética y Belleza    6821
Higiene                4334
Infantil               3857
Herbolario             2487
Nutrición              1461
Ortopedia               496
Vida Íntima             259
Óptica                  195
Perfumeria              145
Veterinaria              45
Name: analytic_category, dtype: int64

In [11]:
#Para unificar categorias pasamos a lower (minúsculas):
products_full["analytic_category"] = products_full["analytic_category"].str.lower()

In [12]:
products_full["analytic_category"].head()

0    infantil
1    infantil
2    infantil
3    infantil
4         NaN
Name: analytic_category, dtype: object

In [13]:
products_full[products_full["analytic_category"].isna()].head()

,Unnamed: 0_x,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto,Unnamed: 0_y,cat1,cat2,cat3
4,4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T4 9-15Kg 30Unds,NaN,NaN,NaN,NaN
5,5,11938,011896,Dodot Activity T3 De 4 A 10 Kg 56 Unidades,dodot,Pañales que mantienen la piel del culito seca ...,NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Activity T3 De 4,199.0,Infantil,Cambio de pañal,Pañales
6,6,13109,011894,Dodot Pañal Sensitive T1 2-5Kg 30Unds,dodot,Pañales para recién nacido que evitan la irrit...,NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal Sensitive T1 2-5Kg,198.0,Infantil,Cambio de pañal,Pañales
14,14,12051,013687,Dodot Sensitive Pañal Primeras Semanas T/0 Has...,dodot,Pañales Dodot para una máxima absorción de pip...,NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Sensitive Pañal Primeras Semanas,216.0,Infantil,Cambio de pañal,Pañales
31,31,13122,011907,Dodot Pañal Pack Semanal T/5 13-18kg 25ud,dodot,Pañales pack semanal\n,NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal Pack Semanal T/5,NaN,NaN,NaN,NaN

In [14]:
products_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23183 entries, 0 to 23182
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0_x       23183 non-null  int64
 1   product_id         23183 non-null  int64
 2   sku                23183 non-null  object
 3   name               23183 non-null  object
 4   marca_value        23181 non-null  object
 5   short_description  23162 non-null  object
 6   analytic_category  20100 non-null  object
 7   picture            23177 non-null  object
 8   nombre_corto       23183 non-null  object
 9   Unnamed: 0_y       11118 non-null  float64
 10  cat1               11118 non-null  object
 11  cat2               11098 non-null  object
 12  cat3               10819 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 2.5+ MB

In [15]:
# Por qué esas variables unnamed:0_? Se eliminan...

In [16]:
products_full.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y"]).head()

,product_id,sku,name,marca_value,short_description,analytic_category,picture,nombre_corto,cat1,cat2,cat3
0,7349,165774,Pañales CHELINO LOVE Talla3 4-10 KG 36unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla3 4-10,Infantil,Cambio de pañal,Pañales
1,7347,165776,Pañales CHELINO LOVE Talla5 13-18 KG 30unidades,chelino,Los pañales Chelino que presentan un novedoso ...,infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla5 13-18,Infantil,Cambio de pañal,Pañales
2,50282,230154,Pañales Pingo Maxi T4 40 uds,pingo,Pingo es el primer pañal ecológico con cuatro ...,infantil,https://www.mifarma.es/media/catalog/product/2...,Pañales Pingo Maxi T4 40,Infantil,Cambio de pañal,Pañales
3,7348,165775,Pañales CHELINO LOVE Talla4 9-15 KG 34unidades,chelino,"Los pañales Chelino, que presentan un novedoso...",infantil,https://www.mifarma.es/media/catalog/product/1...,Pañales Chelino Love Talla4 9-15,Infantil,Cambio de pañal,Pañales
4,24517,011905,Dodot Pañal T4 9-15Kg 30unds,dodot,"¿Qué le pides a un pañal? ¿Absorción máxima, q...",NaN,https://www.mifarma.es/media/catalog/product/0...,Dodot Pañal T4 9-15Kg 30Unds,NaN,NaN,NaN

### Es necesario que "analytic_category" tome lo que está en el mismo registro en "cat1"

In [17]:
products_full["analytic_category"].isna().sum()

3083

In [18]:
(products_full["analytic_category"] == None).sum()

0

In [19]:
for pos, na in enumerate(products_full["analytic_category"]): #no funciona... ¡?
    if na == None:
        products_full["analytic_category"].iloc[pos] = products_full["cat1"].iloc[pos]

In [20]:
products_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23183 entries, 0 to 23182
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0_x       23183 non-null  int64
 1   product_id         23183 non-null  int64
 2   sku                23183 non-null  object
 3   name               23183 non-null  object
 4   marca_value        23181 non-null  object
 5   short_description  23162 non-null  object
 6   analytic_category  20100 non-null  object
 7   picture            23177 non-null  object
 8   nombre_corto       23183 non-null  object
 9   Unnamed: 0_y       11118 non-null  float64
 10  cat1               11118 non-null  object
 11  cat2               11098 non-null  object
 12  cat3               10819 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 2.5+ MB

In [21]:
products_full["analytic_category"].isna().sum()

3083

**Revisión de tipos**

In [22]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23183 entries, 0 to 23182
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         23183 non-null  int64
 1   product_id         23183 non-null  int64
 2   sku                23183 non-null  object
 3   name               23183 non-null  object
 4   marca_value        23181 non-null  object
 5   short_description  23162 non-null  object
 6   analytic_category  20100 non-null  object
 7   picture            23177 non-null  object
 8   nombre_corto       23183 non-null  object
dtypes: int64(2), object(7)
memory usage: 1.6+ MB

In [23]:
df_categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11159 entries, 0 to 11158
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11159 non-null  int64
 1   sku         11159 non-null  object
 2   cat1        11159 non-null  object
 3   cat2        11139 non-null  object
 4   cat3        10859 non-null  object
dtypes: int64(1), object(4)
memory usage: 436.0+ KB

In [24]:
#test2 = [re.search("([^;]*)", element).group() for element in categories_sep["cat2,3"]]

**Eliminación de columnas no relevantes**

In [25]:
products_full.drop(columns=["Unnamed: 0_x", "Unnamed: 0_y"], inplace=True, axis=1)

**Exportación de resultados a CSV**

In [26]:
products_full.to_csv("df_products_dep.csv")