### Importación de librerías

In [1]:
import pandas as pd
import re

In [13]:
from multiprocessing import Pool, cpu_count, Queue, Process
import time

In [3]:
print("Number of cpu : ", cpu_count())

Number of cpu :  8

### Variables destacadas

In [5]:
pathToDF = "../Inputs/Creados/"
fileToDF = "dfVentasDefinitivo.csv"

### Importación de datos

In [27]:
df = pd.read_csv(f"{pathToDF}{fileToDF}")
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [35]:
print(df.shape)
df.iloc[[19778]]

(810167, 26)

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,Zipcode,...,hour,week,day,margin_total,price_total,name,marca_value,analytic_category,nombre_corto,num_compras
19778,0652a757b155706a505da78c72be4a5b,1b5ea606a15f57240e5b66263b382156,2018-03-13 23:09:44,50939,1,4.43,8.23,5.0,b5bac3664df06aece363a410ab49f7cf,28232,...,23,63,Tuesday,3.8,8.23,Aceite Árbol del Té Prisma Natural 50 ml Spray,prisma natural,higiene,Aceite Árbol Del Té Prisma,1

### Depuración de datos

In [8]:
df = df[["product_id","name"]]

print(df.shape)
df.head(2)

(810167, 2)

   product_id                                  name
0        5645  Weleda Hombre Crema Hidratante 30 ml
1       28743       Gynea Gestagyn Men 60 Capsulas

In [9]:
print(len(df["product_id"].unique()))
len(df["name"].unique())

19787

19778

In [12]:
# from multiprocessing import Process, Queue

# Q = Queue()

# def my_func():
#     Q.put([element for element in df["product_id"].tolist() if df["name"]]

# p1 = Process(target=my_func)
# p1.start()
# asd = Q.get()
# p1.join()
# print(asd)

Hello, John

### Eliminación de cantidades en Productos

In [15]:
productoToMod = df["name"].unique().tolist()

### Lógica

In [19]:
productModded = df["product_id"].unique().tolist()[:19778]
nameModded =[ele.rstrip() for ele in list(map(lambda x: re.sub("\d+\s*\S*\w+\s*\S*\w", "", x),productoToMod))]

In [36]:
zipProducts = list(zip(productModded,nameModded))
zipProducts[-1]

(80144, 'Saro Soporte Baño Anatomico Abatible Rojo')

In [37]:
df[df["product_id"]==80144]

,item_id,num_order,created_at,product_id,qty_ordered,base_cost,price,discount_percent,customer_id,Zipcode,...,hour,week,day,margin_total,price_total,name,marca_value,analytic_category,nombre_corto,num_compras
802771,fda5981ffe174e1adf0443bf68f7ce19,0c9c9493a21a4d83ad30cb4d52d25cfb,2018-05-17 19:04:30,80144,1,4.13,5.37,6.0,d75023457f15a4b90e11d08598978c87,15142,...,19,72,Thursday,1.24,5.37,Fitoextract Avena Sativa Eladiet 50ml,eladiet,herbolario,Fitoextract Avena Sativa Eladiet 50Ml,1